@media screen and (min-width: 2000px) and (max-height: 1300px)
  .bonus
    &__gates
      transform-origin: bottom left
      transform: scale(1.2)
    &__win
      transform-origin: center
      transform: scale(1.1)

@media screen and (min-width: 2000px) and (max-height: 1140px)
  .bonus
    &__gates
      transform: scale(1.1)
    &__win
      transform: scale(1)
      right: 23%

@media screen and (min-width: 2000px) and (max-height: 1055px)
  .bonus
    &__gates
      transform: scale(1)
    &__win
      transform-origin: bottom center
      transform: scale(0.9)

@media screen and (min-width: 2000px) and (max-height: 995px)
  .bonus
    &__gates
      transform: scale(0.9)
    &__win
      transform-origin: bottom center
      transform: scale(0.8)
    &__txt
      transform-origin: bottom right
      transform: scale(0.9)

@media screen and (min-width: 2350px) and (min-height: 1280px)
  .bonus
    &__gates
      transform-origin: bottom left
      transform: scale(1.3)
    &__win
      transform-origin: center
      transform: scale(1.2)
    &__txt
      transform-origin: bottom right
      right: 23%
      transform: scale(1.1)

@media screen and (max-width: 1930px) and (max-height: 1033px)
  .bonus
    &__gates
      transform-origin: bottom left
      transform: scale(0.9)
    &__win
      transform-origin: right bottom
      transform: scale(0.9)
      right: 20%
    &__txt
      transform-origin: bottom right
      transform: scale(0.9)

@media screen and (max-width: 1930px) and (max-height: 965px)
  .bonus
    &__win
      transform-origin: right bottom
      transform: scale(0.8)
      right: 20%
    &__txt
      transform-origin: bottom right
      transform: scale(0.8)

@media screen and (max-width: 1800px)
  .bonus
    &__footer
      &-two
        &-item
          font-size: 14px
          line-height: 18px
          img
            max-width: 165px
    &__txt
      transform-origin: bottom right
      transform: scale(0.7)
      right: 20%
      bottom: 188px
    &__win
      transform-origin: right bottom
      transform: scale(0.75)
      bottom: 184px
      right: 18%
    &__title
      transform-origin: left top
      transform: scale(0.8)
    &__link
      transform: scale(0.9)
      left: 39px
      top: 255px
    &__time
      transform: scale(0.9)
      left: 537px
      top: 22px
    &__logo
      width: 364px

@media screen and (max-width: 1680px)
  .bonus
    &__line
      transform-origin: bottom right
      transform: scale(0.8)

@media screen and (max-width: 1680px) and (max-height: 860px)
  .bonus
    &__gates
      transform: scale(0.8)
    &__win
      transform: scale(0.65)
      bottom: 174px
      right: 21%

@media screen and (max-width: 1680px) and (max-height: 800px)
  .bonus
    &__footer
      padding: 23px 35px 22px
    &__txt
      bottom: 160px
    &__win
      bottom: 129px
    &__gates
      transform: scale(0.72)

@media screen and (max-width: 1680px) and (max-height: 755px)
  .bonus
    &__title
      transform: scale(0.7)
    &__link
      transform: scale(0.8)
      left: 11px
      top: 213px
    &__time
      transform: scale(0.8)
      left: 456px
      top: 15px

@media screen and (max-width: 1450px)
  .bonus
    &__line
      transform: scale(0.6)

@media screen and (max-width: 1450px) and (max-height: 910px)
  .bonus
    &__footer
      padding: 22px 35px 20px
    &__txt
      right: 18.5%
      bottom: 163px

@media screen and (max-width: 1368px) and (max-height: 1024px)
  .bonus
    &__txt
      right: 18%
      bottom: 143px
      transform: scale(0.6)
    &__win
      right: 12%
    &__footer
      padding: 15px 25px 13px
      &-one
        &-item
          &:not(:last-child)
            margin: 0 20px 0 0
          .left
            font-size: 55px
            line-height: 30px
            margin: 0 10px 0 0
            span
              font-size: 30px
              line-height: 30px
          .right
            font-size: 15px
            line-height: 20px
          img
            max-width: 42px
      &-two
        &-item
          img
            max-width: 150px

@media screen and (max-width: 1368px) and (max-height: 770px)
  .bonus
    &__title
      transform: scale(1)
      &-top,
      &-bottom
        font-size: 66px
        line-height: 30px
      &-bottom
        padding: 17px 24px 27px
        img
          max-width: 55px
      &-top
        padding: 34px 24px 32px
    &__time
      transform: scale(1)
      left: 471px
      top: 31px
      &-top,
      &-bottom
        font-size: 26px
        line-height: 34px
        width: 105px
        height: 44px
      &-bottom
        margin-top: -1px
    &__logo
      transform: scale(1)
      width: 400px
    &__link
      transform: scale(1)
      font-size: 22px
      line-height: 29px
      left: 39px
      top: 231px
    &__win
      right: 21%

@media screen and (max-width: 1368px) and (max-height: 720px)
  .bonus
    &__txt
      transform: scale(0.6)
    &__logo
      width: 340px
    &__gates
      transform: scale(0.63)
    &__win
      transform: scale(0.57)

@media screen and (max-width: 1368px) and (max-height: 670px)
  .bonus
    &__line
      transform: scale(0.55)
    &__title
      transform: scale(0.9)
    &__link
      transform: scale(0.9)
      left: 21px
      top: 198px
    &__time
      left: 442px
    &__win
      transform: scale(0.52)

@media screen and (max-width: 1300px) and (max-height: 810px)
  .bonus
    &__plus1,
    &__plus2
      height: 73px

@media screen and (max-width: 1300px) and (max-height: 615px)
  .bonus
    &__gates
      transform: scale(0.53)
    &__win
      transform: scale(0.49)
    &__txt
      transform: scale(0.55)
      bottom: 135px

@media screen and (max-width: 1260px)
  .bonus
    &__line
      transform: scale(0.5)
      bottom: 23px
    &__title
      transform: scale(0.9)
    &__link
      transform: scale(0.9)
      left: 7px
      top: 208px
    &__logo
      width: 325px
    &__txt
      transform: scale(0.6)
      right: 17%
    &__time
      transform: scale(0.9)
      left: 431px
      top: 22px
    &__footer
      &-two
        &-item
          img
            max-width: 115px

@media screen and (max-width: 1260px) and (min-height: 770px)
  .bonus
    &__title
      transform: scale(0.7)
    &__link
      transform: scale(0.8)
      left: 7px
      top: 208px
    &__logo
      width: 325px
    &__txt
      transform: scale(0.55)
    &__time
      transform: scale(0.8)
      left: 451px
      top: 17px


@media screen and (max-width: 1150px)
  .bonus
    &__txt
      transform: scale(0.55)
      right: 15%
    &__win
      transform: scale(0.55)
      right: 16%

@media screen and (max-width: 1090px)
  .bonus
    &__gates
      transform: scale(0.67)
    &__logo
      width: 298px
    &__win
      right: 15%
    &__txt
      transform: scale(0.45)

@media screen and (max-width: 1025px) and (max-height: 675px)
  .bonus
    &__win
      transform: scale(0.5)
    &__gates
      transform: scale(0.6)

@media screen and (max-width: 930px)
  .bonus
    &__txt
      transform: scale(0.45)
    &__gates
      transform: scale(0.65)


/*******************************************TABLET*******************************************/

@media screen and (max-width: 1025px) and (orientation: portrait) and (max-height: 1400px)
  .bonus
    &__footer
      padding: 26px 26px 24px
      &-one
        &-item
          &:not(:last-child)
            margin: 0 20px 0 0
          .left
            font-size: 55px
            line-height: 30px
            margin: 0 10px 0 0
            span
              font-size: 30px
              line-height: 30px
          .right
            font-size: 15px
            line-height: 20px
          img
            max-width: 42px
    &__gates
      transform-origin: left bottom
      bottom: 61px
      left: -13px
    &__win
      bottom: 338px
      transform: scale(0.75)
      right: 10%
    &__txt
      bottom: 153px
    &__plus1
      left: -50px
      top: 46%
      transform: rotate(90deg)
      animation: 6s plus1-tab ease infinite
    &__plus2
      left: 57%
      bottom: 204px


@media screen and (max-width: 955px) and (orientation: portrait)
  .bonus
    overflow-y: scroll
    &__logo
      width: 235px
    &__time
      left: 15px
      top: 184px
    &__link
      left: -10px
      top: 317px
    &__gates
      bottom: 37px
      left: -49px
    &__win
      right: auto
      bottom: auto
      left: -3%
      top: 43px
      &-wrap
        .circle
          width: 600px
          height: 600px
          background: url("../img/circle-tab.svg") no-repeat 50% 0/contain
        .prize1
          top: auto
          left: auto
          bottom: -325px
          right: -282px
          width: 442px
          height: 494px
          background: url("../img/cup-tab.png") no-repeat 50% 0/contain
    &__line
      display: none
    &__txt
      transform: scale(0.55)
      bottom: 114px
      right: 9%
      &-arrow
        background: none
        display: none
    &__plus2
      bottom: 156px

    &__footer
      bottom: -91px
      &-row
        flex-direction: column
        align-items: flex-start
      &-one
        margin: 0 0 40px 0
        .left
          font-size: 60px
          line-height: 28px
        .right
          font-size: 16px
          line-height: 21px
      &-two
        flex-direction: row-reverse
        &-item
          font-size: 12px
          line-height: 16px
          text-align: left
          &:last-child
            margin: 0 20px 0 0
          &:first-child
            margin: 0

@media screen and (max-width: 955px) and (orientation: portrait) and (max-height: 1010px)
  .bonus
    &__win
      transform: scale(0.65)
      left: -6%
      top: -19px
    &__gates
      transform: scale(0.6)

@media screen and (max-width: 770px) and (orientation: portrait)
  .bonus
    &__time
      transform: scale(0.6)
      left: 0
      top: 198px
    &__link
      transform: scale(0.75)
      left: -23px
      top: 313px
    &__plus1
      width: 90px
    &__plus2
      width: 100px
      height: 113px
    &__txt
      transform: scale(0.45)
      right: 13%



/*******************************************MOBILE*******************************************/

@media screen and (max-width: 670px) and (orientation: portrait)
  .bonus
    &__logo
      background: url("../img/logo-mob.svg") no-repeat 50% 0/contain
      width: 205px
      left: 0
      right: auto
      top: 0
    &__title
      transform: scale(1)
      top: auto
      bottom: 150px
      z-index: 5
      &-top,
      &-bottom
        font-size: 46px
        line-height: 49px
      &-top
        padding: 5px 11px 3px
      &-bottom
        padding: 2px 11px 3px
        img
          max-width: 35px
    &__time
      transform: scale(1)
      top: auto
      bottom: 216px
      left: 298px
      &-top,
      &-bottom
        font-size: 12px
        line-height: 16px
        width: 50px
        height: 22px
      &-top
        border-radius: 4px 4px 0 0
        border: 1px solid $gray
      &-bottom
        border-radius: 0 0 4px 4px
        border: 1px solid $gray

    &__win
      transform: scale(1)
      width: 100%
      height: 100%
      .prize1,
      .prize2
        transform: scale(1)
      .prize1
        background: url("../img/cup-mob.png") no-repeat 50% 0/contain
        width: 160px
        height: 170px
        top: 350px
        left: auto
        bottom: auto
        right: -2px
      .prize2
        background: url("../img/ball-r-mob.png") no-repeat 50% 0/contain
        width: 100px
        height: 100px
        top: 100px
        left: auto
        bottom: auto
        right: 40px
      .circle
        background: none
        display: none
    &__plus2
      background: none
      display: none
    &__plus1
      left: -13px
      top: 22%
      transform: rotate(0deg)
      animation: 6s plus1 ease infinite
      background: url("../img/plus-mob.svg") no-repeat 50% 0/contain
    &__txt
      padding: 10px 15px
      font-size: 30px
      line-height: 38px
      color: $gray
      background: #00003D
      width: 100%
      z-index: 5
      transform: scale(1)
      bottom: -50px
      top: auto
      left: 0
      right: auto
      &-top,
      &-bottom
        padding: 0
        background: transparent
        white-space: normal
        display: none
      &-wrap
        display: flex
        flex-direction: row-reverse
        align-items: center
        justify-content: center
      &-mob
        display: block
        white-space: nowrap
      &-arrow
        position: static
        display: block
        width: 64px
        height: 64px
        margin: 0 10px 0 0
        background: url(../img/arrow.svg) no-repeat 50% 0/contain
    &__gates
      transform: scale(0.4)
      bottom: 207px
    &__link
      transform: scale(1) translateX(-50%)
      padding: 16px 16px 14px
      width: 95%
      font-size: 18px
      line-height: 23px
      text-align: center
      left: 50%
      top: auto
      bottom: 70px
      border-radius: 4.7px
    &__footer
      padding: 15px 15px
      height: 200px
      bottom: -247px
      border-top: 1px solid $blue
      &-row
        flex-direction: column
        align-items: stretch
      &-one
        justify-content: space-between
        margin: 0 0 25px 0
        &-plus
          position: absolute
          left: 50%
          transform: translateX(-50%)
        &-item
          display: flex
          flex-direction: column
          align-items: flex-start
          &:first-child
            width: 50%
            position: relative
            &:before
              content: ''
              position: absolute
              width: 1px
              top: -16px
              height: 190%
              right: 0
              background: $blue
          img
            max-width: 33px
          .left
            font-size: 36px
            line-height: 30px
            margin: 0 0 5px 0

            span
              font-size: 20px
              line-height: 20px
              margin-left: -8px
          .right
            font-size: 10px
            line-height: 12px
            br
              display: none
      &-two
        flex-direction: column-reverse
        align-items: center
        background: $blue
        padding: 24px 15px 22px
        width: 110%
        position: relative
        left: 50%
        transform: translateX(-50%)
        &-item
          br

            display: none
          &:not(:last-child)
            margin: 0
          &:last-child
            margin: 0 0 12px 0

@media screen and (max-width: 420px) and (orientation: portrait) and (max-height: 700px)
  .bonus
    &__win
      transform: scale(0.9)
      top: -110px

@media screen and (max-width: 420px) and (orientation: portrait) and (max-height: 650px)
  .bonus
    &__gates
      transform: scale(0.35)
      bottom: 202px

@media screen and (max-width: 420px) and (orientation: portrait) and (max-height: 600px)
  .bonus
    &__gates
      transform: scale(0.35)
      bottom: 202px
    &__plus1
      display: none
    &__win
      transform: scale(0.8)
      top: -167px
    &__title
      transform: scale(0.9)
      bottom: 132px
    &__time
      bottom: 200px
      left: 278px

@media screen and (max-width: 420px) and (orientation: portrait) and (min-height: 900px)
  .bonus
    &__win
      transform: scale(1.2)
      top: 125px
    &__gates
      transform: scale(0.45)

@media screen and (max-width: 358px) and (orientation: portrait)
  .bonus
    &__title
      transform: scale(0.85)
      bottom: 132px
    &__time
      bottom: 198px
      left: 256px
    &__gates
      transform: scale(0.37)
    &__txt
      font-size: 20px
      line-height: 28px
      bottom: -54px
    &__footer
      bottom: -253px

@media screen and (max-width: 340px)
  .bonus
    &__footer
      &-one
        &-item
          .left
              font-size: 31px
          .right
            font-size: 9px

@media screen and (max-width: 340px) and (orientation: portrait) and (max-height: 600px)
  .bonus
    &__gates
      transform: scale(0.32)




/*******************************************LANDSCAPE*******************************************/

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .bonus
    &__footer
      padding: 15px 15px 13px
      &-two
        &-item
          &:not(:last-child)
            margin: 0 16px 0 0
      &-one
        &-item
          &:not(:last-child)
            margin: 0 15px 0 0
          img
            max-width: 29px
          .left
            font-size: 35px
            line-height: 20px
            span
              font-size: 20px
              line-height: 0px
              margin-left: -9px
          .right
            font-size: 10px
            line-height: 15px
      &-two
        &-item
          font-size: 9px
          line-height: 12px
          img
            max-width: 75px
    &__gates
      transform: scale(0.45)
    &__link
      transform: scale(0.65)
      left: -43px
      top: 116px
    &__line
      transform: scale(0.3)
    &__txt
      transform: scale(0.4)
      bottom: 76px
    &__logo
      width: 186px
    &__win
      transform: scale(0.4)
      bottom: 46px
      right: 17%
    &__title
      transform-origin: top left
      transform: scale(0.55)
    &__time
      transform: scale(0.6)
      left: 239px
      top: -6px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 420px)
  .bonus
    &__gates
      transform: scale(0.4)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 395px)
  .bonus
    &__title
      transform: scale(0.45)
    &__time
      left: 196px
    &__link
      transform: scale(0.5)
      left: -74px
      top: 84px
    &__win
      transform: scale(0.35)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 355px)
  .bonus
    &__gates
      transform: scale(0.3)
      bottom: -1px
      left: -1px
    &__txt
      transform: scale(0.3)
    &__win
      bottom: 5px
    &__line
      transform: scale(0.25)

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 315px)
  .bonus
    &__plus1
      display: none
    &__gates
      transform: scale(0.25)

@media screen and (max-width: 670px) and (orientation: landscape)
  .bonus 
    &__txt
      transform: scale(0.3)

@media screen and (max-width: 600px) and (orientation: landscape)
  .bonus
    &__txt
      transform: scale(0.25)
    &__win
      transform: scale(0.3)
      right: 10%
    &__plus1
      display: none