.bonus
    //a(href='https://www.favbet.com/uk/short-register/').all-link
    .bonus__line
    .bonus__logo
    .bonus__title
        .bonus__title-top Liverpool
        .bonus__title-bottom
            img(src='img/vs.svg' alt='vs')
            span croatia
    .bonus__time
        .bonus__time-top 13.06
        .bonus__time-bottom 22:00
    a(href='#').bonus__link REVENDICĂ BONUSUL
    .bonus__txt
        .bonus__txt-wrap
            .bonus__txt-top BONUS 100%
            .bonus__txt-bottom PÂNĂ LA 1000 LEI
            .bonus__txt-mob.
                BONUS 100% #[br]
                PÂNĂ LA 1000 LEI
            .bonus__txt-arrow
    .bonus__gates
        .bonus__gates-wrap
            .gates
            .ball
    .bonus__win
        .bonus__win-wrap
            .circle
            .prize1
            .prize2
    .bonus__plus1
    .bonus__plus2
    .bonus__footer
        .bonus__footer-row
            ul.bonus__footer-one
                li.bonus__footer-one-item
                    .left 100 #[span LEI]
                    .right PARIU FĂRĂ #[br] RISC PÂNĂ LA
                li.bonus__footer-one-item.bonus__footer-one-plus
                    img(src='img/plus.svg' alt='plus')
                li.bonus__footer-one-item
                    .left 100
                    .right ROTIRI #[br] GRATUITE
            ul.bonus__footer-two
                li.bonus__footer-two-item L1200662W001197. #[br] Se aplică T&C

                li.bonus__footer-two-item
                    img(src='img/footer-copy.svg' alt='copyright')
















