.bonus
    //a(href='https://www.favbet.com/uk/short-register/').all-link
    .bonus__overlay.opacity-overlay
        .bonus__overlay-wrapper.hide
            .rules__close
                span
            .rules__title Bet Tournament #[br] #[span 100000 INR]
            ol.rules__list
                li.rules__item
                    p.rules__text To participate in the Promotion, during the promotion period, under the conditions stipulated by the Rules, the participant must:
                    ul.rules__item-list
                        li - confirm participation on the Big win page;
                        li - make at least 1 (one) promotional bet from 300 INR with coefficient from 1.50 for any sport;
                        li - make bets that meet the conditions of the promotion.
                li.rules__item
                    p.rules__text Promotion period: from 20.11.22 to 18.12.22 23:59 (GMT+2).
                    ul.rules__item-list
                        li Group stage 20/11/22 - 2/12/22
                        li Round of 16 3/12/22 - 6/12/22
                        li Quarter-finals 7/12/22 - 10/12/22
                        li Semi-finals 11/12/22 - 14/12/22
                        li Final 15/12/22 - 18/12/22
                li.rules__item
                    p.rules__text All sports participate in the tournament.
                li.rules__item
                    p.rules__text The bet specified in clause 1 of the Rules can consist of one event (Single) or several events (Multiple) live or pre-match for any event. The bet must be made and calculated during the current stage of the promotional offer.
                li.rules__item
                    p.rules__text Multiple must be with a bet coefficient of at least 1.5, with a promotional event coefficient of at least 1.5 and a bet amount of 250 INR or more.
                li.rules__item
                    p.rules__text Multiple does not participate in the promotion if at least one event in it is calculated with a coefficient of 1 or has lost. Bets of the system type, edited and calculated using the CashOut bet service or with a coefficient of 1, do not participate in this offer.
                li.rules__item
                    p.rules__text Only single and multiple winning bets, made and calculated during each stage of the promotion, participate in the promotion.
                li.rules__item
                    p.rules__text Each player can make an unlimited number of bets that meet the terms of the bonus offer.
                li.rules__item
                    p.rules__text The total prize fund is 100000 INR.
                li.rules__item
                    p.rules__text Bonuses are credited to player accounts within 72 hours (three working days) of the tournament ending.
                li.rules__item
                    p.rules__text Players are warned for suspected foul play as part of this offer or at any time before.
                    ul.rules__item-list
                        li There are two types of warnings:
                        li There are two types of warnings: "Yellow card" - the first warning for suspected foul play (first of all - detection of arbitrage bets on the entire market).
                        li "Red card" - the second warning, which leads to the final exclusion of the player from the offer with zeroing of all points, and the impossibility of further participation and receiving prizes. It is awarded in case of consistent violation of the rules of this offer or in case of confirmed violation of the integrity of the game before it starts.
                li.rules__item
                    p.rules__text The Company reserves the right to review account transactions at any time and for any reason. If this review reveals that a Customer (or Customers) has employed strategies that the company deems malicious, Fav.Casino is within its right to rescind the Customer's right to the bonus and to further participation in this offer or other Fav.Casino offers. The Company will not provide the Customer with any evidence of malicious activities (multi-accounting, playing on incorrect coefficients and arbitrage situations, etc.). In disputed situations, all decisions made by the Fav.Casino management team are final.
                li.rules__item
                    p.rules__text In the event of a dispute regarding the interpretation of the clauses of these terms and conditions, the interpretation of the organizer (Fav.Casino company) is considered official, which is final and binding.
                li.rules__item
                    p.rules__text These conditions may be changed and supplemented both during the campaign and at any other time without any notification to the participants. The general rules and conditions of FavCasino's services are in effect.
                li.rules__item
                    p.rules__text Claims regarding disputed issues are accepted within 30 days from the day of summing up the results of the relevant action. No claims will be accepted after this period. In controversial situations that do not have precedents, all decisions made by the Fav.Casino management team are final.



    .bonus__line
    .bonus__plus1
    .bonus__plus2
    .bonus__logo
    .bonus__ball
    .bonus__cricket
    .bonus__gates
        .bonus__gates-wrap
            .gates
            .ball
    .bonus__wrapper
        .bonus__title Bet Tournament
        .bonus__prize
            img(src='img/one-number.svg' alt='one').bonus__prize-one
            img(src='img/zero-number.svg' alt='zero').bonus__prize-zero
            img(src='img/zero-number.svg' alt='zero').bonus__prize-zero
            img(src='img/zero-number.svg' alt='zero').bonus__prize-zero
            img(src='img/zero-number.svg' alt='zero').bonus__prize-zero
            img(src='img/zero-number.svg' alt='zero').bonus__prize-zero
        .bonus__buttons
            a(href='#').bonus__link Get a bonus
            button(type='button').bonus__rules How to receive 100000 INR?























